/* Interaction */

.lincle-interactive-graph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: cell;
  touch-action: none;
  user-select: none;
}

.lincle-interactive-graph:active {
  cursor: all-scroll;
}

.lincle-interactive-container {
  position: absolute;
  inset: 0;
}

.lincle-interactive-container > div {
  position: initial !important;
}

.lincle-interactive-transform {
  transform-origin: 0 0;
  will-change: transform;
  backface-visibility: hidden;
}

/* Pull */

.lincle-interactive-drag {
  position: absolute;
  z-index: 1;
  transform-origin: 0 0;
  cursor: grab;
  will-change: transform;
}

.lincle-interactive-moved {
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}

.lincle-interactive-drag:active {
  cursor: grabbing;
}

.lincle-interactive-drag + svg {
  position: absolute;
  overflow: visible;
  pointer-events: none;
}

.lincle-interactive-hidden {
  opacity: 0;
}

@keyframes lincle-interactive-dash {
  to {
    stroke-dashoffset: 1000;
  }
}
